name: 04-Usiing_Actions
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 04-Using-Actions/react-app
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        
      - name: Setup Node
        uses: actions/setup-node@v4
        with: 
          node-version: '20.x'

      - name: Install Dependencies
        run: npm ci
        
      - name: Run Unit Test
        run: npm run test
        


    #1.dependencies
    #2.automated testcases
    