name: 08 - Using Variables
on: 
    push:
    workflow_dispatch:

env:
    WORKFLOW_VAR: 'I am a workflow env var'
    OVERWRITTEN:  'I will be overwritten'

jobs:
    echo:
        runs-on: ubuntu-24.04
        env:
            JOB_VAR: 'I am a job env var'
            OVERWRITTEN: 'I have been overwritten at the job level'
        steps:
            - name: Print Env Variables
              env:
                STEP_VAR: 'I am a step env var'
                step_var2: 'I am another step var'
              run: |
                echo "Step env var: ${{vars.step_var2}}"
                echo "Step env var 2: ${{vars.STEP_VAR}}"
                echo  "Job env var: ${{vars.JOB_VAR}}"

                echo  "Workflow env var: ${{vars.WORKFLOW_VAR}}"

                echo    "Overwritten: ${{vars.OVERWRITTEN}}>"
            
            - name: Overwrite Job Variable
              env:
                OVERWRITTEN: 'I have been overwritten at the step level'
              run: |
                echo "Step env var: ${{vars.OVERWRITTEN}}"
                
                
