name: Calculator
on:
    push:
    workflow_dispatch:
        inputs:
          A:
            type: number
            default: 4
          B:
            type: number
            default: 5
          Operation:
            type: choice
            options:
              - Add
              - Substract
              - Multiply
              - Divide
            default: Add
            required: true
          



jobs:

    defineValues:
        runs-on: ubuntu-latest
        outputs:
          C: ${{steps.CandD.outputs.C}}
          D: ${{steps.CandD.outputs.D}}

        steps:
      
          
            - name: define A and B
              run: |
                a=2
                b=0
                echo "A=$a" >> "$GITHUB_ENV"
                echo "B=$b" >> "$GITHUB_ENV"
            - name: define C and D
              id: CandD
              run: |
                c=4
                d=2
                echo "C=$c" >> "$GITHUB_OUTPUT"
                echo "D=$d" >> "$GITHUB_OUTPUT"
            - name: Calculate sum and division
              run: |

                sum=$((A+B+${{steps.CandD.outputs.C}}+${{steps.CandD.outputs.D}}))
                echo "SUM at job 1 = $sum"
                division=$((${{steps.CandD.outputs.C}}/${{steps.CandD.outputs.D}}))
                echo "Division at job 1 = $division"
            
    UseJOB1Values:
      runs-on: ubuntu-latest
      needs: defineValues
      steps:
        - name: UseCandD
          run: |
            echo $((${{needs.defineValues.outputs.C}}/${{needs.defineValues.outputs.D}}))
    Compute:
      runs-on: ubuntu-latest
      
      steps:
        - name: compute
          id: calci
          shell: bash
          run: |
            A="${{inputs.A}}"
            B="${{inputs.B}}"
            op="${{inputs.Operation}}"

            case "$op" in
              Add)    expr="$A + $B" ; symbol="+" ;;
              Substract) expr="$A - $B" ; symbol="-" ;;
              Multiply) expr="$A * $B" ; symbol="*" ;;
              Divide)
                if [ "$(echo "$B == 0" | bc)" -eq 1 ]; then
                  echo "Error :Division by zero is not allowed" >&2
                  exit 1
                fi
                expr = "$A / $B" symbol="/" ;;
              *) echo "Unsupported opertion: $op" >&2;
                 exit 1 ;;
            esac

            results="$(echo "$expr" | bc -l)"
            echo "expression=$A $symbol $B" >> "$GITHUB_OUTPUT"
            echo "result=$results" >> "$GITHUB_OUTPUT"
        
        - name: print Result
          run: |
            echo "Expression: ${{steps.calci.outputs.expression}}"
            echo "Result: ${{steps.calci.outputs.result}}"

